/*@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-sans: 'Google Sans Flex', 'sans-serif';
	--color-primary: #5809fc;
}

*::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-track {
	background: #ffffff;
	border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
	background: #424242;
	border-radius: 8px;
}

.dark *::-webkit-scrollbar-track {
	background: #030712;
}

.dark *::-webkit-scrollbar-thumb {
	background: #ffffff;
}
